<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="google-site-verification" content="ZrrgzkWehg_HHb7NEfO_AQaCwqdgGdj1CHv1cSDE-OU" />
   <title>{{ page.title }}</title>
   <meta name="author" content="haiyf" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="site">
  <div class="title">
    <a href="/">Haiyf</a>
    <a class="extra" href="/">home</a>
  </div>
  <div class="grid" id="searchBar">
    <div>
      <div id="search"> 
         <form role="search" method="get" action="/search">
            <input id="searchString" name="searchString" placeholder="Be a Better Developer." type="text">
            <input id="searchButton" name="googleSearchName" type="submit" value="Search"> 
         </form> 
      </div>
   </div>
  </div>
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        haiy<br />
        backend hacker.
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/haiy/">github.com/haiy</a><br />
        <a href="https://github.com/haiy/haiy.github.io/issues/new">leave me issues</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/haiy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2c264fbb0f13b8c883558431f4495241";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>
