---
layout: default
---
<div id="post">
{{ content }}
</div>
<div id = "">
<div id="related">
  <h2>R<a href="https://github.com/haiy/haiy.github.io/edit/master/{{page.path}}" target=_blank>e</a>lated Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> 
      <a href="{{ post.url }}">{{ post.title }}</a>
     </li>
    {% endfor %}
  </ul>
</div>

<div id="comments">
   <h2>Comments</h2>
   <div id="header">
     Want to leave a comment? Visit <a href="https://github.com/haiy/haiy.github.io/issues/{{page.commentIssueId}}"> this post's issue page on GitHub</a> (you'll need a GitHub account. What? Like you already don't have one?!).
   </div>
</div>
<script type="text/javascript" src="{{site.baseurl }}/js/needed_js.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">"></script>
<script type="text/javascript">
    function loadComments(data) {
      for (var i=0; i<data.length; i++) {
        var cuser = data[i].user.login;
        var cuserlink = "https://www.github.com/" + data[i].user.login;
        var clink = "https://github.com/haiy/haiy.github.io/issues/1#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
       var cbody = data[i].body_html;
       var cavatarlink = data[i].user.avatar_url;
       var cdate = Date.parse(data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");
       $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
     }
    }
    $.ajax("https://api.github.com/repos/haiy/haiy.github.io/issues/{{page.commentIssueId}}/comments?per_page=100", {
      headers: {Accept: "application/vnd.github.full+json"},
      dataType: "json",
      success: function(msg){
      loadComments(msg);
    }
   });
</script>

